html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  padding:0;
  font-family:'Chilanka'
}
.menu{
  display:flex;
  margin:0;
  padding:0;
  justify-content:center;
  background-color:#9AE0B2;
}
.menu li{
  flex-direction:row;
  list-style:none;
  margin:5px;
  font-size:150%;
}

a{
  padding: 0.5%;
  text-decoration:none;
}

h1{
  text-align:center;
  font-size:250%;
  background-color:rgba(45, 45, 45, 0.1);
}

#h1-background{
  background-image:url("https://www.chinesethought.cn/upload/201607/19/201607191348409027.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  height:650px;
  margin-right:10px;
  margin-left:10px;
}

.text1{
  height:400px;
  font-size:150%;
  line-height:150%;
}

.textreform{
  float:left;
  margin-left:60px;
  margin-top:-430px;
  padding:25px 25px 25px 25px;
  width:50%;
  font-size:120%;
  border:5px solid #85C1E9;
  border-style:outset;
  line-height:150%;
}

.textaccomplishment1{
  float:left;
  width:45%;
  top:75px;
  left:16px;
  position:relative;
  padding:25px 25px 25px 25px;
  line-height:150%;
  font-size:120%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.textaccomplishment2{
  float:right;
  width:45%;
  top:45px;
  right:16px;
  position:relative;
  padding:25px 25px 25px 25px;
  line-height:150%;
  font-size:120%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text2{
  float:right;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  position:relative;
  top:90px;
  font-size:150%;
  line-height:150%;
  height:400px;
  left:-150px;
}
